MAPCTF_VERSION=1.0.0
POSTGRES_VERSION=13.5-alpine
POSTGRES_DB_NAME=mapctf-db
POSTGRES_DB_PORT=5432
POSTGRES_DB_USERNAME=mapctf
POSTGRES_DB_PASSWORD=mapctf
REDIS_VERSION=6.2.6-alpine3.15
REDIS_PORT=6379
GOLANG_VERSION=1.24.3
