<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Cache-control" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MAPCTF</title>
    <link rel="icon" type="image/png" href="/static/img/favicon.png" />
    <link rel="stylesheet" href="/static/css/mapctf.css" />
  </head>
  <body data-section="pages">
    <div class="mctf-sprite" id="mctf-svg-sprite"></div>
    <div class="mctf-viewport">
      <div id="mctf-main-content" class="mctf-page">
        <main role="main" class="mctf-main page--game-status row-fluid no-shrink center-vertically mctf-img-glitch full-height mctf-scroll">
          <div class="mctf-container mctf-centered-main">
            <h3 class="title-lead">
              status_
              <span class="highlighted--red">{{ .Status }}</span>
            </h3>

            {{ if .Header }}
            <h1 class="mctf-glitch" data-text="{{ .Header }}">{{ .Header }}</h1>
            {{ else }}
            <h1 class="mctf-glitch" data-text="Issue detected">Issue detected</h1>
            {{ end }}
            <p class="status-text">{{ if .Error }} {{ .Error }} {{ else }} An unexpected issue occurred while processing your request. {{ end }}</p>
            <div class="mctf-actionable">
              <a href="javascript:history.back()" class="mctf-cta cta--yellow">Go Back</a>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.9.0/d3.min.js" integrity="sha512-vc58qvvBdrDR4etbxMdlTt4GBQk1qjvyORR2nrsPsFPyrs+/u5c3+1Ct6upOgdZoIl7eq6k3a1UPDSNAQi/32A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="/static/js/plugins.js"></script>
    <script type="text/javascript" src="/static/js/mapctf.js"></script>
  </body>
</html>
