<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Cache-control" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MAPCTF</title>
    <link rel="icon" type="image/png" href="/static/img/favicon.png" />
    <link rel="stylesheet" href="/static/css/mapctf.css" />
  </head>
  <body data-section="pages">
    <div class="mctf-sprite" id="mctf-svg-sprite"></div>
    <div class="mctf-viewport">
      <div id="mctf-main-nav">
        <nav class="mctf-main-nav mctf-navigation">
          <ul class="nav-left">
            <li>
              <a href="/{{ .UUID }}/countdown" data-active="countdown">Play CTF</a>
            </li>
            <li></li>
            <li>
              <a href="/{{ .UUID }}/rules" data-active="rules">Rules</a>
            </li>
          </ul>
          <div class="branding">
            <a href="/{{ .UUID }}/">
              <div class="branding-rules">
                <img src="/static/img/favicon.png" alt="MapCTF logo" class="branding-logo" />
                <span>POWERED BY MAPCTF</span>
              </div>
            </a>
          </div>
          <ul class="nav-right">
            <li>
              <a href="/{{ .UUID }}/registration" data-active="registration">Registration</a>
            </li>
            <li></li>
            {{ if .Authenticated }}
            <li>
              <a href="/{{ .UUID }}/gameboard" data-active="gameboard">Gameboard</a>
            </li>
            {{ else }}
            <li>
              <a href="/{{ .UUID }}/login" data-active="login" class="active">Login</a>
            </li>
            {{ end }}
            {{ if .Admin }}
            <li>
              <a href="/{{ .UUID }}/admin" data-active="admin">🔐</a>
            </li>
            {{ end }}
          </ul>
        </nav>
      </div>
      <div id="mctf-main-content" class="mctf-page">
        <main role="main" class="mctf-main page--login page--landing mctf-img-glitch full-height mctf-scroll">
          <header class="mctf-section-header mctf-container">
            <h1 class="mctf-glitch" data-text="{{ .LoginType }}">{{ .LoginType }}</h1>
            <p class="inner-container">{{ .LoginMsg }}</p>
          </header>
          <div class="mctf-login">
            <form class="mctf-form">
              <fieldset class="form-set mctf-container container--small">
                <div class="form-el el--text ajax-message-row">
                  <label class="ajax-message-label" aria-hidden="true">Message</label>
                  <div id="ajax-message-box" class="ajax-message" role="alert" aria-live="assertive"></div>
                </div>
                <div class="form-el el--text">
                  <label for="login_username">Username</label>
                  <input autocomplete="off" id="login_username" name="username" type="text" maxlength="20" />
                </div>
                <div class="form-el el--text">
                  <label for="login_password">Password</label>
                  <input autocomplete="off" id="login_password" name="password" type="password" />
                </div>
                <input type="hidden" id="login_url" name="login_url" value="{{ .LoginURL }}" />
              </fieldset>
              <div class="form-el--actions">
                <button id="login_button" class="mctf-cta cta--yellow" type="button" onclick="sendLogin()">Login</button>
              </div>
            </form>
          </div>
        </main>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.9.0/d3.min.js" integrity="sha512-vc58qvvBdrDR4etbxMdlTt4GBQk1qjvyORR2nrsPsFPyrs+/u5c3+1Ct6upOgdZoIl7eq6k3a1UPDSNAQi/32A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="/static/js/plugins.js"></script>
    <script type="text/javascript" src="/static/js/mapctf.js"></script>
    <script type="text/javascript" src="/static/js/functions.js"></script>
    <script type="text/javascript" src="/static/js/login.js"></script>
  </body>
</html>
