<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Cache-control" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MapCTF Admin: Settings</title>
    <link rel="icon" type="image/png" href="/static/img/favicon.png" />
    <link rel="stylesheet" href="/static/css/mapctf.css" />
  </head>
  <body data-section="admin">
    <div class="mctf-sprite" id="mctf-svg-sprite"></div>
    <div class="mctf-viewport admin-viewport">
      <div id="mctf-admin-nav">
        <div class="admin-nav-bar mctf-row-container">
          <header class="admin-nav-header row-fixed">
            <div class="branding">
              <a href="/{{ .UUID }}/">
                <div class="branding-rules">
                  <img src="/static/img/favicon.png" alt="MapCTF logo" class="branding-logo" />
                  <span>POWERED BY MAPCTF</span>
                </div>
              </a>
            </div>
            <h2>Game Admin</h2>
          </header>
          <nav class="admin-nav-links row-fluid">
            <ul>
              <li><a href="/{{ .UUID }}/admin">Dashboard</a></li>
              <li class="active"><a href="/{{ .UUID }}/admin/settings">Settings</a></li>
              <li><a href="/{{ .UUID }}/admin/controls">Controls</a></li>
              <li><a href="/{{ .UUID }}/admin/users">Users</a></li>
              <li><a href="/{{ .UUID }}/admin/teams">Teams</a></li>
              <li><a href="/{{ .UUID }}/admin/challenges">Challenges</a></li>
            </ul>
          </nav>
          <div class="admin-nav-controls row-fixed">
            <a href="#" class="mctf-cta cta--red js-end-game">End Game</a>
            <a href="#" class="mctf-cta cta--red js-pause-game">Pause Game</a>
          </div>
          <div class="admin-nav--footer row-fixed">
            <a href="/{{ .UUID }}/gameboard">Gameboard</a>
            <a href="/{{ .UUID }}/logout" class="js-prompt-logout">Logout</a>
          </div>
        </div>
      </div>
      <div id="mctf-main-content" class="mctf-page mctf-admin-main">
        <div class="admin-sections">
          <header class="admin-page-header">
            <h3>Settings</h3>
            <span class="admin-section--status" data-ready-status="ready">
              status_
              <span class="highlighted">ready</span>
              <span class="admin-section--status-message"></span>
            </span>
          </header>

          <section id="settings" class="admin-box">
            <header class="admin-box-header mctf-cf">
              <h3>Game Settings</h3>
            </header>

            <div class="admin-row">
              <div class="admin-settings-list">
                <div class="admin-setting-row">
                  <label for="game_started_on">game_started</label>
                  <form id="form_game_started" action="/{{ .UUID }}/admin/settings" method="post">
                    <input type="hidden" name="setting_name" value="game_started" />
                    <div class="admin-section-toggle radio-inline">
                      <input type="radio" name="setting_value" id="game_started_on" value="true" {{ if .GameStarted }}checked{{ end }} onchange="saveSettingValue(this)" />
                      <label for="game_started_on">On</label>

                      <input type="radio" name="setting_value" id="game_started_off" value="false" {{ if not .GameStarted }}checked{{ end }} onchange="saveSettingValue(this)" />
                      <label for="game_started_off">Off</label>
                    </div>
                  </form>
                </div>

                <div class="admin-setting-row">
                  <label for="game_paused_on">game_paused</label>
                  <form id="form_game_paused" action="/{{ .UUID }}/admin/settings" method="post">
                    <input type="hidden" name="setting_name" value="game_paused" />
                    <div class="admin-section-toggle radio-inline">
                      <input type="radio" name="setting_value" id="game_paused_on" value="true" {{ if .GamePaused }}checked{{ end }} onchange="saveSettingValue(this)" />
                      <label for="game_paused_on">On</label>

                      <input type="radio" name="setting_value" id="game_paused_off" value="false" {{ if not .GamePaused }}checked{{ end }} onchange="saveSettingValue(this)" />
                      <label for="game_paused_off">Off</label>
                    </div>
                  </form>
                </div>

                <div class="admin-setting-row">
                  <label for="registration_enabled_on">registration_enabled</label>
                  <form id="form_registration_enabled" action="/{{ .UUID }}/admin/settings" method="post">
                    <input type="hidden" name="setting_name" value="registration_enabled" />
                    <div class="admin-section-toggle radio-inline">
                      <input type="radio" name="setting_value" id="registration_enabled_on" value="true" {{ if .RegistrationEnabled }}checked{{ end }} onchange="saveSettingValue(this)" />
                      <label for="registration_enabled_on">On</label>

                      <input type="radio" name="setting_value" id="registration_enabled_off" value="false" {{ if not .RegistrationEnabled }}checked{{ end }} onchange="saveSettingValue(this)" />
                      <label for="registration_enabled_off">Off</label>
                    </div>
                  </form>
                </div>

                <div class="admin-setting-row">
                  <label for="login_enabled_on">login_enabled</label>
                  <form id="form_login_enabled" action="/{{ .UUID }}/admin/settings" method="post">
                    <input type="hidden" name="setting_name" value="login_enabled" />
                    <div class="admin-section-toggle radio-inline">
                      <input type="radio" name="setting_value" id="login_enabled_on" value="true" {{ if .LoginEnabled }}checked{{ end }} onchange="saveSettingValue(this)" />
                      <label for="login_enabled_on">On</label>

                      <input type="radio" name="setting_value" id="login_enabled_off" value="false" {{ if not .LoginEnabled }}checked{{ end }} onchange="saveSettingValue(this)" />
                      <label for="login_enabled_off">Off</label>
                    </div>
                  </form>
                </div>

                <div class="admin-setting-row">
                  <label for="scoring_enabled_on">scoring_enabled</label>
                  <form id="form_scoring_enabled" action="/{{ .UUID }}/admin/settings" method="post">
                    <input type="hidden" name="setting_name" value="scoring_enabled" />
                    <div class="admin-section-toggle radio-inline">
                      <input type="radio" name="setting_value" id="scoring_enabled_on" value="true" {{ if .ScoringEnabled }}checked{{ end }} onchange="saveSettingValue(this)" />
                      <label for="scoring_enabled_on">On</label>

                      <input type="radio" name="setting_value" id="scoring_enabled_off" value="false" {{ if not .ScoringEnabled }}checked{{ end }} onchange="saveSettingValue(this)" />
                      <label for="scoring_enabled_off">Off</label>
                    </div>
                  </form>
                </div>

                <div class="admin-setting-row">
                  <label for="custom_org">custom_org</label>
                  <form id="form_custom_org" action="/{{ .UUID }}/admin/settings" method="post">
                    <input type="hidden" name="setting_name" value="custom_org" />
                    <input id="custom_org" type="text" name="setting_value" value="{{ .CustomOrg }}" onchange="saveSettingValue(this)" />
                  </form>
                </div>

                <div class="admin-setting-row">
                  <label for="language">language</label>
                  <form id="form_language" action="/{{ .UUID }}/admin/settings" method="post">
                    <input type="hidden" name="setting_name" value="language" />
                    <select id="language" name="setting_value" onchange="saveSettingValue(this)">
                      <option value="en" {{ if eq .Language "en" }}selected{{ end }}>🇬🇧 en</option>
                      <option value="es" {{ if eq .Language "es" }}selected{{ end }}>🇪🇸 es</option>
                      <option value="fr" {{ if eq .Language "fr" }}selected{{ end }}>🇫🇷 fr</option>
                      <option value="de" {{ if eq .Language "de" }}selected{{ end }}>🇩🇪 de</option>
                      <option value="it" {{ if eq .Language "it" }}selected{{ end }}>🇮🇹 it</option>
                      <option value="pt" {{ if eq .Language "pt" }}selected{{ end }}>🇵🇹 pt</option>
                    </select>
                  </form>
                </div>

                <div class="admin-setting-row">
                  <label for="game_start_time">game_start_time</label>
                  <form id="form_game_start_time" action="/{{ .UUID }}/admin/settings" method="post">
                    <input type="hidden" name="setting_name" value="game_start_time" />
                    <input id="game_start_time" type="datetime-local" name="setting_value" value="{{ .GameStartTime }}" onchange="saveSettingValue(this)" />
                  </form>
                </div>

                <div class="admin-setting-row">
                  <label for="game_end_time">game_end_time</label>
                  <form id="form_game_end_time" action="/{{ .UUID }}/admin/settings" method="post">
                    <input type="hidden" name="setting_name" value="game_end_time" />
                    <input id="game_end_time" type="datetime-local" name="setting_value" value="{{ .GameEndTime }}" onchange="saveSettingValue(this)" />
                  </form>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.9.0/d3.min.js" integrity="sha512-vc58qvvBdrDR4etbxMdlTt4GBQk1qjvyORR2nrsPsFPyrs+/u5c3+1Ct6upOgdZoIl7eq6k3a1UPDSNAQi/32A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="/static/js/plugins.js"></script>
    <script type="text/javascript" src="/static/js/mapctf.js"></script>
    <script type="text/javascript" src="/static/js/functions.js"></script>
    <script type="text/javascript" src="/static/js/admin.js"></script>
  </body>
</html>
